# Credentials
.env

# Python environment & cache
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/

# Local Data (Don't push large indices or raw PDFs if they are private)
data/processed/
data/indices/
data/raw/*.pdf

# System files
.DS_Store